{% extends 'base.html' %}

{% block content %}

    {% for album in albums %}
    <div class="album-block">
        <h2><a href="{% url 'detail_album' pk=album.pk %}">{{ album.title }}</a></h2>
        {% if album.album_cover %}
        <img class=img-thumb src="{{ album.album_cover }}">
        {% else %}
        <img class=img-thumb src="static/images/adobe-113797565.jpg">
        {% endif %}
        {% if album.artist %}
            <div class="artist">by {{ album.artist }}</div>
        {% else %}
            <div class="no-image">Artist Unknown</div>
        {% endif %}
    </div>    
    {% endfor %}

{% endblock %}